## Estimating the age of abalone

Determing an abalone'age involves counting the number of rings in a cross-section of the shell through a microscope.
Since this method is somewhat cumbersome and complex we are estimating the age of the abalone using its physical characteristics.

In [13]:
import pandas as pd

In [14]:
df = pd.read_csv('data/abalone.csv')

In [15]:
df.head()

,sex,length,diameter,height,whole_wt,shucked_wt,viscera_wt,shell_wt,rings,age
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15,16.5
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7,8.5
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9,10.5
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10,11.5
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7,8.5